@font-face {
    font-family: 'ubuntu';
    /*细体*/
    font-weight: bold;
    src: url('/font/ubuntu.regular.ttf');
}

* {
    font-family: ubuntu, serif;
}

.main-wrapper {
    margin-top: 10%;
}

th {
    width: 500px;
    font-size: large;
    color: #e4606d;
}
